<p-toolbar [ngClass]="{ 'navbar-scrolled': scrolled() }">
  <ng-template #start>
    <a routerLink="/" aria-label="Home">
      <img src="logo.png" alt="AK Logo" />
    </a>
  </ng-template>
  <ng-template #end>
    <a routerLink="/" fragment="hero" i18n>Hero</a>
    <a routerLink="/" fragment="about" i18n>About</a>
    <a routerLink="/" fragment="philosophy" i18n>Philosophie</a>
    <a routerLink="/" fragment="services" i18n>Leistungen</a>
    <a routerLink="/" fragment="projects" i18n>Projekte</a>
    <a routerLink="/" fragment="contact" i18n>Kontakte</a>
    <app-lang-switch />
    <app-theme-toggle />
  </ng-template>
</p-toolbar>
