/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));


:root {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

h1 {
  font-size: clamp(42px, 6vw, 72px);
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.02em;
}
