/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));
@import "primeicons/primeicons.css";


:root {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

code, .font-mono {
  font-family: var(--font-mono);
}

h1 {
  font-size: clamp(42px, 6vw, 72px);
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

main {
  padding-top: 64px;
}
